.header {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr min-content;
  &__top-address,
  &__menu-list,
  &__top-fb {
    display: none;
  }
  &__top {
    padding: 10px 0 10px;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-top;
    margin: 0 -30px;
    &-lang {
      display: flex;
      margin-left: 15px;
      & a {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1px;
        color: $white;
        padding: 5px 7px;
        transition: .3s;
      }
      &_active {
        background: $crimson;
        border-radius: 8px;
      }
    }
    &-tel {
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      line-height: 20px;
      text-align: right;
      color: $white;
      margin-right: 15px;
    }
  }
  &__logo {
    margin-left: -15px;
    margin-top: 15px;
    & img {
      width: 69px;
      height: 32px;
    }
  }
  &__menu {
    display: flex;
    &-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      margin: 10px -15px 0 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    &__top {
      justify-content: flex-start;
      align-items: center;
      grid-column: 1 / -1;
      padding: 50px 0 26px;
      background-color: transparent;
      margin: 0;
      &-fb {
        display: block;
        &:hover path {
          fill: $crimson;
          transition: .3s;
        }
      }
      &-address {
        margin-left: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $dark-grey;
        display: block;
        &::before {
          content: '';
          position: relative;
          width: 6px;
          height: 7px;
          background-image: url('../img/dot-separator.svg');
          display: inline-block;
          right: 6px;
          top: -2px;
        }
      }
      &-lang {
        margin: 0;
        & a:not(.header__top-lang_active):hover {
          background: $header-top; 
          border-radius: 8px;
        }
      }
      &-tel {
        margin: 0 12px;
        &::before {
          content: '';
          position: relative;
          width: 6px;
          height: 7px;
          background-image: url('../img/dot-separator.svg');
          display: inline-block;
          right: 6px;
          top: -2px;
        }
        &::after {
          content: '';
          position: relative;
          width: 6px;
          height: 7px;
          background-image: url('../img/dot-separator.svg');
          display: inline-block;
          left: 6px;
          top: -2px;
        }
      }
    }
    &__logo {
      margin: 0 0 26px;
     & img {
        width: 130px;
        height: 60px;
      }
    }
    &__menu-btn {
      display: none;
    }
    &__menu-list{
      display: flex;
      padding: 0;
      & li {
        list-style: none;
        margin-right: 15px;
      }
      &-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $white;
        border-bottom: 2px solid transparent;
        transition: .3s;
          &:hover {
            padding-bottom: 3px;
            border-bottom: 2px solid $white;
          }
        }
      }
    }
  }


@media screen and (min-width: 1024px) {
  .header {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr auto;
    padding-top: 50px;
    &__top {
      grid-column: 2 / -1;
      grid-row: 2 / 1;
      padding: 0;
      &-address {
        margin-left: 8px;
        &::before {
          right: 3px;
        }
      }
    }
    &__logo {
      grid-column: 1 / 2;
      grid-row: -1 / 1;
      align-self: center;
      margin: 0;
    }
    &__menu {
      align-items: center;
      flex-direction: row-reverse;
      margin-top: 15px;
        & li {
        margin-left: 15px;
        margin-right: 0;
      }
    }
  } 
}
