.team {
  margin: 49px 0 61px;
  &__box {
    border-radius: 12px;
    margin-bottom: 30px;
  }
  &__photo {
    &-img {
      width: 100%;
      height: 500px;
      display: block;
      border-radius: 12px 12px 0 0;
      object-fit: cover;
    }
  }
  &__block {
    padding: 29px;
    background: $light-grey;
    border-radius: 0 0 12px 12px;
    &-link {
      font-weight: 700;
      text-decoration: none;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $blue;
      display: inline-block;
      padding-bottom: 3px;
      transition: .3s;
      &-text {
        margin-right: 3px;
      }
    }
    &-topic {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 30px;
      word-wrap: break-word;
    }
    &-name {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $dark-grey;
      margin-bottom: 6px;
    }
    &-position {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $dark-grey;
    }
  }
  &__slider {
    display: flex;
    justify-content: center;
    &-btn {
      cursor: pointer;
      width: 16px;
      height: 16px;
      background: $blue;
      opacity: .2;
      border-radius: 50%;
      border: none;
      margin-left: 15px;
      transition: .3s;
      &_active {
        opacity: 1;
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .team {
    margin: 80px 0 62px;
    &__block {
      &-topic {
        font-size: 38px;
        line-height: 46px;
      }
      &-link {
        &:hover path {
          stroke: $hover-blue;
        }
        &:hover svg {
          margin-left: 4px;
          transition: .3s;
          transform: scale(1.3);
        }
        &:hover {
          color: $hover-blue;
        }
      }
    }
    &__slider-btn:not(.team__slider-btn_active):hover {
      opacity: .6;
    }
  }
}

@media screen and (min-width: 1024px) {
  .team {
    &__box {
      display: flex;
    }
    &__photo-img {
      height: 100%;
      width: 400px;
      border-radius: 12px 0 0 12px;
    }
    &__block {
      border-radius: 0 12px 12px 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  .team__box {
    height: 344px;
  }
}







































